In [3]:
from datetime import datetime   

import pandas as pd

In [6]:
start_date =  datetime (2025, 1, 1)
end_date =  datetime (2030, 12, 31)

date_range = pd.date_range(start_date,end_date)

date_df = pd.DataFrame(date_range, columns=["date"])

In [7]:
date_df.head()

        date
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05

In [8]:
date_df["year"] = date_df["date"].dt.year
date_df["month"] = date_df["date"].dt.month
date_df["day"] = date_df["date"].dt.day
date_df["day_of_week"] = date_df["date"].dt.dayofweek + 1
date_df["is_weekend"] = date_df["day_of_week"].isin([6,7]).astype(int)

In [9]:
date_df.sample(10)

           date  year  month  day  day_of_week  is_weekend
1389 2028-10-21  2028     10   21            6           1
1716 2029-09-13  2029      9   13            4           0
1630 2029-06-19  2029      6   19            2           0
1949 2030-05-04  2030      5    4            6           1
1454 2028-12-25  2028     12   25            1           0
564  2026-07-19  2026      7   19            7           1
82   2025-03-24  2025      3   24            1           0
830  2027-04-11  2027      4   11            7           1
1136 2028-02-11  2028      2   11            5           0
1496 2029-02-05  2029      2    5            1           0

In [10]:
date_df.to_csv("date_master.csv", index=False)