In [1]:
from datetime import datetime   
from dateutil.relativedelta import relativedelta

import pandas as pd
pd.set_option("display.max_columns", 30) 
import requests

In [2]:
current_datetime = datetime.now() - relativedelta(months=2)
formatted_datetime = current_datetime.strftime("%Y-%m-%d")

url = ( 
    f"https://data.cityofchicago.org/resource/ajtu-isnz.json?"
    f"$where=trip_start_timestamp >= '{formatted_datetime}T00:00:00' " 
    f"AND trip_start_timestamp <= '{formatted_datetime}T23:59:59'"
    f"&$limit=30000"
)
response = requests.get(url)
data = response.json()

len(data)  # Number of taxi trips on February 16, 2024

23174

In [3]:
taxi_trips = pd.DataFrame(data)
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,5887b84e350521b3d1c9b31f6e9a5a4ef39be5d6,3618045f9110d4d88482266ade23659c1a50d32ac37f20...,2025-09-26T23:45:00.000,2025-09-27T00:00:00.000,783,2.99,22,16,10.39,3.31,0,0,14.2,Mobile,Tac - Yellow Cab Association,41.92276062,-87.699155343,"{'type': 'Point', 'coordinates': [-87.69915534...",41.953582125,-87.72345239,"{'type': 'Point', 'coordinates': [-87.72345239...",NaN,NaN
1,006d64de27bc9d408ccb3fda78ff2d643334aee7,6c1e4e8e25a1b47575b359c5a0844cf23c50e540a86ecd...,2025-09-26T23:45:00.000,2025-09-26T23:45:00.000,630,1.39,8,8,8,3,0,0,11.5,Credit Card,Flash Cab,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
2,03fddd4b286099fe548254b40e2ee57bb6865375,8123ec5a70681a139fcd93fd477eec0ee05dda82987748...,2025-09-26T23:45:00.000,2025-09-27T00:00:00.000,751,4.18,8,6,15.77,0,0,0,16.27,Mobile,Globe Taxi,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",NaN,NaN
3,043c9bde3029eb5a436ba33acfe379c89a49bf36,a0f44bc0a273e49230e4abe4d0a8d3a1e8305945f8fa0b...,2025-09-26T23:45:00.000,2025-09-27T00:15:00.000,1464,8.65,33,23,35.52,0,0,0,36.02,Mobile,Globe Taxi,41.857183858,-87.620334624,"{'type': 'Point', 'coordinates': [-87.62033462...",41.900069603,-87.720918238,"{'type': 'Point', 'coordinates': [-87.72091823...",NaN,NaN
4,052b170224311f9b4f4eff285dcfe23a03fcc68d,d032016cdde07ebbac8ab34b98a534aed192e1c86d610f...,2025-09-26T23:45:00.000,2025-09-27T00:00:00.000,452,2.81,76,76,9.75,2,0,4,16.25,Credit Card,Medallion Leasin,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",NaN,NaN

In [4]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23174 entries, 0 to 23173
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     23174 non-null  object
 1   taxi_id                     23174 non-null  object
 2   trip_start_timestamp        23174 non-null  object
 3   trip_end_timestamp          23173 non-null  object
 4   trip_seconds                23172 non-null  object
 5   trip_miles                  23174 non-null  object
 6   pickup_community_area       22524 non-null  object
 7   dropoff_community_area      21254 non-null  object
 8   fare                        23134 non-null  object
 9   tips                        23134 non-null  object
 10  tolls                       23134 non-null  object
 11  extras                      23134 non-null  object
 12  trip_total                  23134 non-null  object
 13  payment_type                23174 non-null  object
 14  company                     23174 non-null  object
 15  pickup_centroid_latitude    22525 non-null  object
 16  pickup_centroid_longitude   22525 non-null  object
 17  pickup_centroid_location    22525 non-null  object
 18  dropoff_centroid_latitude   21326 non-null  object
 19  dropoff_centroid_longitude  21326 non-null  object
 20  dropoff_centroid_location   21326 non-null  object
 21  pickup_census_tract         10779 non-null  object
 22  dropoff_census_tract        10550 non-null  object
dtypes: object(23)
memory usage: 4.1+ MB

In [5]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,23174,23174,23174,23173,23172,23174,22524,21254,23134,23134,23134,23134,23134,23174,23174,22525,22525,22525,21326,21326,21326,10779,10550
unique,23174,2521,96,114,4009,2421,77,77,2559,1117,26,208,3531,7,33,167,167,167,196,196,196,92,123
top,5887b84e350521b3d1c9b31f6e9a5a4ef39be5d6,13016372e777da1289d557edbe4ce2be8a68e77bc64768...,2025-09-26T18:45:00.000,2025-09-26T19:00:00.000,0,0,8,8,8.5,0,0,0,3.25,Credit Card,Flash Cab,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",17031980000,17031839100
freq,1,45,460,470,266,1812,5719,5937,943,13731,22955,16701,308,7561,4327,2080,2080,2080,1761,1761,1761,1967,1171

In [6]:
taxi_trips[taxi_trips["fare"].isna()].sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
22358,127ea978fab0f51f691dfca3021e40874dcb1af6,5648d53206ccad62bbe17e3d36016271b55c5b23916cc0...,2025-09-26T05:15:00.000,2025-09-26T05:30:00.000,725,6.39,6,28,NaN,NaN,NaN,NaN,NaN,Cash,Flash Cab,41.936310131,-87.651562592,"{'type': 'Point', 'coordinates': [-87.65156259...",41.879255084,-87.642648998,"{'type': 'Point', 'coordinates': [-87.64264899...",17031063000,17031281900
5414,e96ded2af4a0c79249684a4eb0d5f01c19d67036,c94e2ee426de76dd2ae4a771d21eb56883b0be25e5b7ad...,2025-09-26T18:15:00.000,2025-09-26T18:15:00.000,4,0,8,8,NaN,NaN,NaN,NaN,NaN,Cash,Choice Taxi Association Inc,41.892072635,-87.628874157,"{'type': 'Point', 'coordinates': [-87.62887415...",41.892072635,-87.628874157,"{'type': 'Point', 'coordinates': [-87.62887415...",17031081600,17031081600
9158,eedf13c076abca7595f4e289fa1c59dc3e906216,58dd35601f224bc255e2d882fee540d5cabf30cabc55cf...,2025-09-26T16:00:00.000,2025-09-26T16:00:00.000,5,0,76,76,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",17031980000,17031980000
12462,6931dc4a629106ebfe271ab3d64a040ca8ea4f72,180309cc29892cd16348ef74d7dd6f33af87e585a29b62...,2025-09-26T14:00:00.000,2025-09-26T15:00:00.000,3521,11.57,56,73,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",41.717493036,-87.648895072,"{'type': 'Point', 'coordinates': [-87.64889507...",NaN,NaN
1682,79c786b16b875bfda583f26e9ef14b6194ebd3a8,807f82595e67582251c7abcdde792543facfa879272732...,2025-09-26T21:15:00.000,2025-09-26T21:15:00.000,16,0.1,56,56,NaN,NaN,NaN,NaN,NaN,Cash,Flash Cab,41.785998518,-87.750934289,"{'type': 'Point', 'coordinates': [-87.75093428...",41.796640334,-87.745282845,"{'type': 'Point', 'coordinates': [-87.74528284...",17031980100,17031835200

#### Transformation : deal with NaN values

In [7]:
taxi_trips.drop(["pickup_census_tract", "dropoff_census_tract"], axis=1, inplace=True)

In [8]:
taxi_trips.drop(["pickup_centroid_location", "dropoff_centroid_location"], axis=1, inplace=True)

In [9]:
taxi_trips.dropna(inplace=True)

In [10]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21003 entries, 0 to 23173
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     21003 non-null  object
 1   taxi_id                     21003 non-null  object
 2   trip_start_timestamp        21003 non-null  object
 3   trip_end_timestamp          21003 non-null  object
 4   trip_seconds                21003 non-null  object
 5   trip_miles                  21003 non-null  object
 6   pickup_community_area       21003 non-null  object
 7   dropoff_community_area      21003 non-null  object
 8   fare                        21003 non-null  object
 9   tips                        21003 non-null  object
 10  tolls                       21003 non-null  object
 11  extras                      21003 non-null  object
 12  trip_total                  21003 non-null  object
 13  payment_type                21003 non-null  object
 14  company                     21003 non-null  object
 15  pickup_centroid_latitude    21003 non-null  object
 16  pickup_centroid_longitude   21003 non-null  object
 17  dropoff_centroid_latitude   21003 non-null  object
 18  dropoff_centroid_longitude  21003 non-null  object
dtypes: object(19)
memory usage: 3.2+ MB

#### Transformation: renaming

In [11]:
taxi_trips.rename(columns={"pickup_community_area": "pickup_community_area_id",
                            "dropoff_community_area": "dropoff_community_area_id"}, inplace=True)

In [12]:
taxi_trips.columns

Index(['trip_id', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
       'trip_seconds', 'trip_miles', 'pickup_community_area_id',
       'dropoff_community_area_id', 'fare', 'tips', 'tolls', 'extras',
       'trip_total', 'payment_type', 'company', 'pickup_centroid_latitude',
       'pickup_centroid_longitude', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude'],
      dtype='object')

#### Transformation: create helper columns for weather data dimensions

In [13]:
taxi_trips['trip_start_timestamp'] = pd.to_datetime(taxi_trips['trip_start_timestamp'])

In [14]:
taxi_trips["datetime_for_weather"] = taxi_trips["trip_start_timestamp"].dt.floor("h")

In [15]:
taxi_trips["datetime_for_weather"].unique()

<DatetimeArray>
['2025-09-26 23:00:00', '2025-09-26 22:00:00', '2025-09-26 21:00:00',
 '2025-09-26 20:00:00', '2025-09-26 19:00:00', '2025-09-26 18:00:00',
 '2025-09-26 17:00:00', '2025-09-26 16:00:00', '2025-09-26 15:00:00',
 '2025-09-26 14:00:00', '2025-09-26 13:00:00', '2025-09-26 12:00:00',
 '2025-09-26 11:00:00', '2025-09-26 10:00:00', '2025-09-26 09:00:00',
 '2025-09-26 08:00:00', '2025-09-26 07:00:00', '2025-09-26 06:00:00',
 '2025-09-26 05:00:00', '2025-09-26 04:00:00', '2025-09-26 03:00:00',
 '2025-09-26 02:00:00', '2025-09-26 01:00:00', '2025-09-26 00:00:00']
Length: 24, dtype: datetime64[ns]

In [16]:
taxi_trips['trip_start_date'] = pd.to_datetime(taxi_trips['trip_start_timestamp']).dt.date

In [17]:
taxi_trips['trip_start_date'].sample(5)

18798    2025-09-26
20320    2025-09-26
13339    2025-09-26
7181     2025-09-26
10625    2025-09-26
Name: trip_start_date, dtype: object

#### Check: join taxi and weather data

In [18]:
current_datetime = datetime.now() - relativedelta(months=2)
formatted_datetime = current_datetime.strftime("%Y-%m-%d")

formatted_datetime



url = "https://archive-api.open-meteo.com/v1/era5"

params = {
    "latitude": 41.85,
    "longitude": -87.65,
    "start_date": formatted_datetime,
    "end_date": formatted_datetime,
    "hourly":"temperature_2m,wind_speed_10m,rain,precipitation",
}

response = requests.get(url, params=params)
data = response.json()

weather_data = {
    "datetime":data["hourly"]["time"],
    "temperature":data["hourly"]["temperature_2m"],
    "wind_speed":data["hourly"]["wind_speed_10m"],
    "rain": data["hourly"]["rain"],
    "precipitation":data["hourly"]["precipitation"],
    }


weather_df = pd.DataFrame(weather_data)
weather_df["datetime"] = pd.to_datetime(weather_df["datetime"])

weather_df.head()

             datetime  temperature  wind_speed  rain  precipitation
0 2025-09-26 00:00:00         17.5         2.2   0.0            0.0
1 2025-09-26 01:00:00         17.6         3.1   0.0            0.0
2 2025-09-26 02:00:00         17.0         1.7   0.0            0.0
3 2025-09-26 03:00:00         16.6         1.5   0.0            0.0
4 2025-09-26 04:00:00         16.1         3.4   0.0            0.0

In [19]:
taxi_trips_with_weather = taxi_trips.merge(weather_df, 
                                          left_on="datetime_for_weather", right_on="datetime")

In [20]:
taxi_trips_with_weather.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date,datetime,temperature,wind_speed,rain,precipitation
0,5887b84e350521b3d1c9b31f6e9a5a4ef39be5d6,3618045f9110d4d88482266ade23659c1a50d32ac37f20...,2025-09-26 23:45:00,2025-09-27T00:00:00.000,783,2.99,22,16,10.39,3.31,0,0,14.2,Mobile,Tac - Yellow Cab Association,41.92276062,-87.699155343,41.953582125,-87.72345239,2025-09-26 23:00:00,2025-09-26,2025-09-26 23:00:00,24.3,9.7,0.0,0.0
1,006d64de27bc9d408ccb3fda78ff2d643334aee7,6c1e4e8e25a1b47575b359c5a0844cf23c50e540a86ecd...,2025-09-26 23:45:00,2025-09-26T23:45:00.000,630,1.39,8,8,8,3,0,0,11.5,Credit Card,Flash Cab,41.899602111,-87.633308037,41.899602111,-87.633308037,2025-09-26 23:00:00,2025-09-26,2025-09-26 23:00:00,24.3,9.7,0.0,0.0
2,03fddd4b286099fe548254b40e2ee57bb6865375,8123ec5a70681a139fcd93fd477eec0ee05dda82987748...,2025-09-26 23:45:00,2025-09-27T00:00:00.000,751,4.18,8,6,15.77,0,0,0,16.27,Mobile,Globe Taxi,41.899602111,-87.633308037,41.944226601,-87.655998182,2025-09-26 23:00:00,2025-09-26,2025-09-26 23:00:00,24.3,9.7,0.0,0.0
3,043c9bde3029eb5a436ba33acfe379c89a49bf36,a0f44bc0a273e49230e4abe4d0a8d3a1e8305945f8fa0b...,2025-09-26 23:45:00,2025-09-27T00:15:00.000,1464,8.65,33,23,35.52,0,0,0,36.02,Mobile,Globe Taxi,41.857183858,-87.620334624,41.900069603,-87.720918238,2025-09-26 23:00:00,2025-09-26,2025-09-26 23:00:00,24.3,9.7,0.0,0.0
4,052b170224311f9b4f4eff285dcfe23a03fcc68d,d032016cdde07ebbac8ab34b98a534aed192e1c86d610f...,2025-09-26 23:45:00,2025-09-27T00:00:00.000,452,2.81,76,76,9.75,2,0,4,16.25,Credit Card,Medallion Leasin,41.980264315,-87.913624596,41.980264315,-87.913624596,2025-09-26 23:00:00,2025-09-26,2025-09-26 23:00:00,24.3,9.7,0.0,0.0

#### Transformation: data type conversions

In [21]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21003 entries, 0 to 23173
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     21003 non-null  object
 1   taxi_id                     21003 non-null  object
 2   trip_start_timestamp        21003 non-null  datetime64[ns]
 3   trip_end_timestamp          21003 non-null  object
 4   trip_seconds                21003 non-null  object
 5   trip_miles                  21003 non-null  object
 6   pickup_community_area_id    21003 non-null  object
 7   dropoff_community_area_id   21003 non-null  object
 8   fare                        21003 non-null  object
 9   tips                        21003 non-null  object
 10  tolls                       21003 non-null  object
 11  extras                      21003 non-null  object
 12  trip_total                  21003 non-null  object
 13  payment_type                21003 non-null  object
 14  company                     21003 non-null  object
 15  pickup_centroid_latitude    21003 non-null  object
 16  pickup_centroid_longitude   21003 non-null  object
 17  dropoff_centroid_latitude   21003 non-null  object
 18  dropoff_centroid_longitude  21003 non-null  object
 19  datetime_for_weather        21003 non-null  datetime64[ns]
 20  trip_start_date             21003 non-null  object
dtypes: datetime64[ns](2), object(19)
memory usage: 3.5+ MB

In [22]:
taxi_trips_original = taxi_trips.copy()

In [25]:
data_types = {
    "trip_end_timestamp": "datetime64[ns]",
    "trip_seconds": "int32",
    "trip_miles": "float",
    "pickup_community_area_id": "int8",
    "dropoff_community_area_id": "int8",
    "fare": "float",
    "tips": "float",
    "tolls": "float",
    "extras": "float",
    "trip_total": "float",
    "pickup_centroid_latitude": "float",
    "pickup_centroid_longitude": "float",
    "dropoff_centroid_latitude": "float",
    "dropoff_centroid_longitude": "float",
}

taxi_trips = taxi_trips.astype(data_types)

In [26]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21003 entries, 0 to 23173
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     21003 non-null  object
 1   taxi_id                     21003 non-null  object
 2   trip_start_timestamp        21003 non-null  datetime64[ns]
 3   trip_end_timestamp          21003 non-null  datetime64[ns]
 4   trip_seconds                21003 non-null  int32
 5   trip_miles                  21003 non-null  float64
 6   pickup_community_area_id    21003 non-null  int8
 7   dropoff_community_area_id   21003 non-null  int8
 8   fare                        21003 non-null  float64
 9   tips                        21003 non-null  float64
 10  tolls                       21003 non-null  float64
 11  extras                      21003 non-null  float64
 12  trip_total                  21003 non-null  float64
 13  payment_type                21003 non-null  object
 14  company                     21003 non-null  object
 15  pickup_centroid_latitude    21003 non-null  float64
 16  pickup_centroid_longitude   21003 non-null  float64
 17  dropoff_centroid_latitude   21003 non-null  float64
 18  dropoff_centroid_longitude  21003 non-null  float64
 19  datetime_for_weather        21003 non-null  datetime64[ns]
 20  trip_start_date             21003 non-null  object
dtypes: datetime64[ns](3), float64(10), int32(1), int8(2), object(5)
memory usage: 3.2+ MB

In [27]:
taxi_trips.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
count,21003,21003,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003.000000,21003
mean,2025-09-26 14:14:46.759034624,2025-09-26 14:35:44.607913216,1256.093939,5.738718,30.584202,25.041708,20.747713,2.307297,0.007444,1.180096,24.537149,41.897005,-87.679706,41.891547,-87.655905,2025-09-26 13:52:17.380374272
min,2025-09-26 00:00:00,2025-09-26 00:00:00,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.660136,-87.913625,41.660136,-87.913625,2025-09-26 00:00:00
25%,2025-09-26 10:45:00,2025-09-26 11:00:00,481.000000,1.110000,8.000000,8.000000,8.500000,0.000000,0.000000,0.000000,10.000000,41.878866,-87.663518,41.878866,-87.657233,2025-09-26 10:00:00
50%,2025-09-26 14:30:00,2025-09-26 14:45:00,850.000000,2.590000,28.000000,28.000000,13.430000,0.000000,0.000000,0.000000,15.300000,41.892508,-87.633308,41.892042,-87.633308,2025-09-26 14:00:00
75%,2025-09-26 18:00:00,2025-09-26 18:30:00,1657.000000,10.290000,38.000000,32.000000,30.500000,3.000000,0.000000,1.000000,32.000000,41.943155,-87.625192,41.907520,-87.622173,2025-09-26 18:00:00
max,2025-09-26 23:45:00,2025-09-27 13:00:00,67341.000000,49.110000,77.000000,77.000000,4188.000000,60.000000,12.000000,761.000000,4188.000000,42.009623,-87.534903,42.009623,-87.534903,2025-09-26 23:00:00
std,NaN,NaN,1689.151330,6.217482,24.377823,20.185516,33.194562,3.853394,0.179433,6.511650,35.493453,0.059797,0.098692,0.055162,0.066337,NaN

##### Memory usage

In [28]:
orig_mem = taxi_trips_original.memory_usage(deep=True).sum() 
opt_mem = taxi_trips.memory_usage(deep=True).sum()

reduction = (orig_mem - opt_mem) / orig_mem * 100

print(f"Original: {orig_mem:,} bytes")
print(f"Optimized: {opt_mem:,} bytes")
print(f"Reduction: {reduction:.2f}%")

Original: 25,917,144 bytes
Optimized: 11,504,888 bytes
Reduction: 55.61%

#### Sanity Checks

In [29]:
taxi_trips[taxi_trips["trip_end_timestamp"] == taxi_trips["trip_end_timestamp"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date
3432,c31c7254060f366cfa39ba7c72b01aa2d7844e63,cb3bd991c2f7932527ef9d5f341674dfba53745f25fe3e...,2025-09-26 19:30:00,2025-09-27 13:00:00,63044,8.73,28,69,23.5,0.0,0.0,0.0,23.5,Cash,Blue Ribbon Taxi Association,41.874005,-87.663518,41.763247,-87.616134,2025-09-26 19:00:00,2025-09-26

In [30]:
taxi_trips[taxi_trips["trip_seconds"] == taxi_trips["trip_seconds"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date
5900,bef4fbe286eddcab707ab6d6c19f3d9488e61afc,ce54c7c28cb19a2cea84881f18dba17780375cc59a8c8f...,2025-09-26 18:00:00,2025-09-27 12:45:00,67341,11.07,6,76,67.75,0.0,0.0,0.0,67.75,Cash,Taxicab Insurance Agency Llc,41.94914,-87.656804,41.979071,-87.90304,2025-09-26 18:00:00,2025-09-26

In [31]:
taxi_trips[taxi_trips["fare"] == taxi_trips["fare"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date
11966,bed04cfe4ab77a897a1e7e3bf4b83595109d8a87,bc8f828bfabea08242e8ba5d7283722378869f674da074...,2025-09-26 14:15:00,2025-09-26 14:45:00,1229,0.0,43,33,4188.0,0.0,0.0,0.0,4188.0,Cash,Tac - Yellow Cab Association,41.761578,-87.572782,41.857184,-87.620335,2025-09-26 14:00:00,2025-09-26

#### Creating dimension tables for Company and Payment Type

##### Payment Type dimension

In [32]:
dim_payment_type = taxi_trips["payment_type"].drop_duplicates().reset_index(drop=True)

dim_payment_type = pd.DataFrame(
    {
    "payment_type_id": range(1, len(dim_payment_type) + 1),
    "payment_type": dim_payment_type
    })

dim_payment_type

   payment_type_id payment_type
0                1       Mobile
1                2  Credit Card
2                3       Prcard
3                4         Cash
4                5      Unknown
5                6    No Charge
6                7      Dispute

##### Company dimension

In [33]:
dim_company = taxi_trips["company"].drop_duplicates().reset_index(drop=True)

dim_company = pd.DataFrame(
    {
    "company_id": range(1, len(dim_company) + 1),
    "company": dim_company
    })

dim_company

    company_id                               company
0            1          Tac - Yellow Cab Association
1            2                             Flash Cab
2            3                            Globe Taxi
3            4                      Medallion Leasin
4            5                  Chicago Independents
5            6          Blue Ribbon Taxi Association
6            7            Tac - Checker Cab Dispatch
7            8                           5 Star Taxi
8            9     Transit Administrative Center Inc
9           10                          City Service
10          11                              Sun Taxi
11          12          Taxicab Insurance Agency Llc
12          13           Choice Taxi Association Inc
13          14         Chicago City Taxi Association
14          15         Taxicab Insurance Agency  LLC
15          16  Patriot Taxi Dba Peace Taxi Associat
16          17         312 Medallion Management Corp
17          18                       Chicago Taxicab
18          19           3556 - 36214 RC Andrews Cab
19          20        Star North Taxi Management Llc
20          21                               Top Cab
21          22                           Wolley Taxi
22          23                            Setare Inc
23          24        Tac - American United Dispatch
24          25                Tac - Yellow Non Color
25          26           Tac - Blue Diamond Dispatch
26          27                 Koam Taxi Association
27          28            5167 - 71969 5167 Taxi Inc
28          29                             U Taxicab
29          30           6574 - Babylon Express Inc.
30          31                     Metro Jet Taxi A.
31          32          4053 - 40193 Adwar H. Nikola

In [34]:
dim_company.tail()

    company_id                       company
27          28    5167 - 71969 5167 Taxi Inc
28          29                     U Taxicab
29          30   6574 - Babylon Express Inc.
30          31             Metro Jet Taxi A.
31          32  4053 - 40193 Adwar H. Nikola

##### Merging back to the Fact table

In [35]:
fact_taxi_trips = taxi_trips.merge(dim_payment_type, on = "payment_type")
fact_taxi_trips = fact_taxi_trips.merge(dim_company, on = "company")

In [36]:
fact_taxi_trips.sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date,payment_type_id,company_id
18726,d7782f59da7adc719b08e0c9ad845d52e229cfe2,d0d51852e766df76888b3f0adb9ea88f7ce9ae77ca0626...,2025-09-26 08:00:00,2025-09-26 08:30:00,2064,10.28,34,6,30.00,0.0,0.0,0.0,30.00,Prcard,Blue Ribbon Taxi Association,41.842076,-87.633973,41.944227,-87.655998,2025-09-26 08:00:00,2025-09-26,3,6
19864,fad83d423c664ad4385e44ea08483d53f1c92fa8,afd6a507fd537d7c9da6b55529a57b04edc34fc486ed68...,2025-09-26 06:30:00,2025-09-26 06:30:00,169,0.39,28,32,4.50,3.0,0.0,0.0,8.00,Credit Card,Medallion Leasin,41.879255,-87.642649,41.880994,-87.632746,2025-09-26 06:00:00,2025-09-26,2,4
18224,f2c2d62b778c98aa66ed08343a56145f83dc7827,ea214932102d54ad8cdbf0e0880a3e7a0902af54459971...,2025-09-26 08:30:00,2025-09-26 09:00:00,1740,7.50,30,32,22.25,0.0,0.0,0.0,22.25,Unknown,Transit Administrative Center Inc,41.839087,-87.714004,41.878866,-87.625192,2025-09-26 08:00:00,2025-09-26,5,9
5455,3a828a5942b5533752ea06b3628356f3d53143c4,91fda2978a4fc5dca34dbd897f28ee663d2492a2b452ef...,2025-09-26 18:00:00,2025-09-26 18:15:00,1356,4.02,6,8,18.76,0.0,0.0,0.0,19.26,Mobile,Taxicab Insurance Agency Llc,41.944227,-87.655998,41.899602,-87.633308,2025-09-26 18:00:00,2025-09-26,1,12
13607,b38d488565b202ee803bdac3630f2a7f1e7adca4,f72fedda1dcbb0853cc4a2dc803d8bb0348f79cdc08b8a...,2025-09-26 12:15:00,2025-09-26 12:45:00,2553,13.12,56,8,38.00,8.7,0.0,5.0,52.20,Credit Card,5 Star Taxi,41.785999,-87.750934,41.892042,-87.631864,2025-09-26 12:00:00,2025-09-26,2,8

In [37]:
fact_taxi_trips.drop(["payment_type", "company"], axis=1, inplace=True)

In [38]:
fact_taxi_trips.sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,dropoff_community_area_id,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date,payment_type_id,company_id
15420,a2c613023910efe464f5e4496835127ca5e765a8,aebf720288b80a8ee36860541db64951c696c749f1a392...,2025-09-26 11:00:00,2025-09-26 11:15:00,775,1.82,8,32,10.09,0.0,0.0,0.0,10.59,41.891972,-87.612945,41.880994,-87.632746,2025-09-26 11:00:00,2025-09-26,1,10
18999,bf6c1801ac9af79eb7656c8db6af255a380f2598,678095878a2306fa01b08e520d914baaf2ace4999c5118...,2025-09-26 07:45:00,2025-09-26 08:15:00,1068,6.44,3,8,19.06,0.0,0.0,0.0,19.56,41.965812,-87.655879,41.899602,-87.633308,2025-09-26 07:00:00,2025-09-26,1,2
5253,c4cd2dfa157baf02d27ccecd2faf4e180bdd297b,03e0167b1f657558b3f2a8d512b1f2f76029ceb3001d93...,2025-09-26 18:00:00,2025-09-26 18:00:00,103,0.28,8,8,7.60,0.0,0.0,0.0,8.10,41.892042,-87.631864,41.893216,-87.637844,2025-09-26 18:00:00,2025-09-26,1,2
11792,b618572105a0df1c6934ddf700c4797cda8bc56d,4364d99b1f14eb6e63596a20a1a936c805239d09b4675e...,2025-09-26 13:30:00,2025-09-26 13:30:00,0,0.00,76,76,3.25,0.0,0.0,1.0,4.25,41.979071,-87.903040,41.979071,-87.903040,2025-09-26 13:00:00,2025-09-26,4,15
15846,2b1d5b6d711414f20df048056172558131e673ab,6d483b193a17a3b613916683c43983cb6f009dc8c42ad3...,2025-09-26 10:45:00,2025-09-26 11:00:00,435,0.84,8,8,6.25,2.0,0.0,0.0,8.75,41.892508,-87.626215,41.899156,-87.626211,2025-09-26 10:00:00,2025-09-26,2,12

In [39]:
dim_payment_type.to_csv("dim_payment_type.csv", index=False)
dim_company.to_csv("dim_company.csv", index=False)

##### Create update logic ford Dimension tables

In [41]:
dummy_payment_type_data = [
    {"payment_type": "Credit Card"},
    {"payment_type": "X"},
    {"payment_type": "Y"},
    {"payment_type": "X"},
]

dummy_payment_type_data_df = pd.DataFrame(dummy_payment_type_data)


todays_payment_types = pd.DataFrame(dummy_payment_type_data_df["payment_type"].unique(), columns=["payment_type"])
new_payment_types = todays_payment_types[~todays_payment_types["payment_type"].isin(dim_payment_type["payment_type"])]

if not new_payment_types.empty:
    
    max_id = dim_payment_type["payment_type_id"].max() 
    new_payment_types["payment_type_id"] = range(max_id + 1, max_id + 1 + len(new_payment_types))
    dim_payment_type = pd.concat([dim_payment_type, new_payment_types], ignore_index=True)
    
dim_payment_type

   payment_type_id payment_type
0                1       Mobile
1                2  Credit Card
2                3       Prcard
3                4         Cash
4                5      Unknown
5                6    No Charge
6                7      Dispute
7                8            X
8                9            Y

In [43]:
#Testing the logic with different data

dummy_payment_type_data = [
    {"payment_type": "Credit Card"},
    {"payment_type": "X"},
    {"payment_type": "Z"},
    {"payment_type": "Z"},
]

dummy_payment_type_data_df = pd.DataFrame(dummy_payment_type_data)

todays_payment_types = pd.DataFrame(dummy_payment_type_data_df["payment_type"].unique(), columns=["payment_type"])
new_payment_types = todays_payment_types[~todays_payment_types["payment_type"].isin(dim_payment_type["payment_type"])]

if not new_payment_types.empty:
    
    max_id = dim_payment_type["payment_type_id"].max() 
    new_payment_types["payment_type_id"] = range(max_id + 1, max_id + 1 + len(new_payment_types))
    dim_payment_type = pd.concat([dim_payment_type, new_payment_types], ignore_index=True)
    
dim_payment_type

   payment_type_id payment_type
0                1       Mobile
1                2  Credit Card
2                3       Prcard
3                4         Cash
4                5      Unknown
5                6    No Charge
6                7      Dispute
7                8            X
8                9            Y
9               10            Z

In [44]:
dim_company.tail()

    company_id                       company
27          28    5167 - 71969 5167 Taxi Inc
28          29                     U Taxicab
29          30   6574 - Babylon Express Inc.
30          31             Metro Jet Taxi A.
31          32  4053 - 40193 Adwar H. Nikola

In [46]:
dim_company = taxi_trips["company"].drop_duplicates().reset_index(drop=True)

dim_company = pd.DataFrame(
    {
    "company_id": range(1, len(dim_company) + 1),
    "company": dim_company
    })

dummy_company_data = [
    {"company": "Metro Jet Taxi A."},
    {"company": "X"},
    {"company": "Z"},
    {"company": "Z"},
]

dummy_company_data_df = pd.DataFrame(dummy_company_data)

todays_companies = pd.DataFrame(dummy_company_data_df["company"].unique(), columns=["company"])
new_companies = todays_companies[~todays_companies["company"].isin(dim_company["company"])]

if not new_companies.empty:
    
    max_id = dim_company["company_id"].max() 
    new_companies["company_id"] = range(max_id + 1, max_id + 1 + len(new_companies))
    dim_company = pd.concat([dim_company, new_companies], ignore_index=True)
    
dim_company.tail()

C:\Users\tothj\AppData\Local\Temp\ipykernel_22292\3474758126.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_companies["company_id"] = range(max_id + 1, max_id + 1 + len(new_companies))

    company_id                       company
29          30   6574 - Babylon Express Inc.
30          31             Metro Jet Taxi A.
31          32  4053 - 40193 Adwar H. Nikola
32          33                             X
33          34                             Z