In [8]:
from datetime import datetime   
from dateutil.relativedelta import relativedelta

import pandas as pd
pd.set_option("display.max_columns", 30) 
import requests

In [9]:
current_datetime = datetime.now() - relativedelta(months=2)
formatted_datetime = current_datetime.strftime("%Y-%m-%d")

url = ( 
    f"https://data.cityofchicago.org/resource/ajtu-isnz.json?"
    f"$where=trip_start_timestamp >= '{formatted_datetime}T00:00:00' " 
    f"AND trip_start_timestamp <= '{formatted_datetime}T23:59:59'"
    f"&$limit=30000"
)
response = requests.get(url)
data = response.json()

len(data)  # Number of taxi trips on February 16, 2024

20495

In [14]:
taxi_trips = pd.DataFrame(data)
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,93446c9c1098f23e505164659baba263728e620d,02ef8f01232b1b1828f4e5e1b8e8a85cd71b67c449afaf...,2025-09-23T23:45:00.000,2025-09-24T00:15:00.000,1134,11.6,69,8,30.75,0,0,0,30.75,Prcard,City Service,41.763246799,-87.616134111,"{'type': 'Point', 'coordinates': [-87.61613411...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
1,928acc35835559e18bfd640170fc2632f18c1b10,6544c8051894de482dd3253d911c3e3d713b43beb93de2...,2025-09-23T23:45:00.000,2025-09-24T00:00:00.000,726,3.49,6,22,11.75,8,0,0,20.25,Credit Card,City Service,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",41.92276062,-87.699155343,"{'type': 'Point', 'coordinates': [-87.69915534...",NaN,NaN
2,91891bcb51c025d18cd1873beeff4baca03595c5,081ccd1ec8ea43f5aba0cfcc53977d1fa8cc826c708a4c...,2025-09-23T23:45:00.000,2025-09-24T00:00:00.000,1646,21.93,NaN,28,55.14,0,0,0,55.14,Cash,Flash Cab,NaN,NaN,NaN,41.874005383,-87.66351755,"{'type': 'Point', 'coordinates': [-87.66351754...",NaN,NaN
3,8f6f96baf9284ac1acd4c2eee2f56dd8ac8d0e7d,f509c57d2f0b196f54d9b751ce2a1b6e956f378841b1e8...,2025-09-23T23:45:00.000,2025-09-23T23:45:00.000,4,0,32,32,25,2,0,0,27.5,Credit Card,City Service,41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",41.878865584,-87.625192142,"{'type': 'Point', 'coordinates': [-87.62519214...",NaN,NaN
4,860526a0375fef46add6e2994344a91c8f4557da,07f3ce687dce8fa4518b83cd63bfbfb0383339fd188b5b...,2025-09-23T23:45:00.000,2025-09-24T00:15:00.000,1200,12.4,21,NaN,32,0,0,0,32,Unknown,Transit Administrative Center Inc,41.938666196,-87.711210593,"{'type': 'Point', 'coordinates': [-87.71121059...",NaN,NaN,NaN,NaN,NaN

In [15]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20495 entries, 0 to 20494
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20495 non-null  object
 1   taxi_id                     20495 non-null  object
 2   trip_start_timestamp        20495 non-null  object
 3   trip_end_timestamp          20493 non-null  object
 4   trip_seconds                20490 non-null  object
 5   trip_miles                  20495 non-null  object
 6   pickup_community_area       19910 non-null  object
 7   dropoff_community_area      18800 non-null  object
 8   fare                        20468 non-null  object
 9   tips                        20468 non-null  object
 10  tolls                       20468 non-null  object
 11  extras                      20468 non-null  object
 12  trip_total                  20468 non-null  object
 13  payment_type                20495 non-null  object
 14  company                     20495 non-null  object
 15  pickup_centroid_latitude    19913 non-null  object
 16  pickup_centroid_longitude   19913 non-null  object
 17  pickup_centroid_location    19913 non-null  object
 18  dropoff_centroid_latitude   18911 non-null  object
 19  dropoff_centroid_longitude  18911 non-null  object
 20  dropoff_centroid_location   18911 non-null  object
 21  pickup_census_tract         9788 non-null   object
 22  dropoff_census_tract        9516 non-null   object
dtypes: object(23)
memory usage: 3.6+ MB

In [18]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,20495,20495,20495,20493,20490,20495,19910,18800,20468,20468,20468,20468,20468,20495,20495,19913,19913,19913,18911,18911,18911,9788,9516
unique,20495,2477,96,112,3459,2376,77,77,2114,1076,31,195,3109,7,33,159,159,159,175,175,175,83,101
top,93446c9c1098f23e505164659baba263728e620d,d59a55fcbd9ef11987cadd1a2dc93149edace06e23c37a...,2025-09-23T17:30:00.000,2025-09-23T09:00:00.000,0,0,8,8,8.5,0,0,0,3.25,Credit Card,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031980000,17031839100
freq,1,40,420,425,214,1535,4602,5092,763,11455,20314,15224,281,7061,4179,2049,2049,2049,1666,1666,1666,2049,1666

In [17]:
taxi_trips[taxi_trips["fare"].isna()].sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
5900,884712ac4690c68daeae3c995ae030c13312cb1d,807f82595e67582251c7abcdde792543facfa879272732...,2025-09-23T17:15:00.000,2025-09-23T18:00:00.000,3387,21.54,27,6,NaN,NaN,NaN,NaN,NaN,Cash,Flash Cab,41.878914496,-87.70589713,"{'type': 'Point', 'coordinates': [-87.70589713...",41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",NaN,NaN
13870,6efd91372d48849fe123e2c07ceeb30f966e6bbf,644680ecf5bbb5af6329b0c9d4595c39344cd6c50fabab...,2025-09-23T11:15:00.000,2025-09-23T11:15:00.000,3,0.03,76,76,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",17031980000,17031980000
11162,54393017a5694aaf0cf35082c7bb6d7b5258412a,f6d1b6c930d62f6d8cbbd8f86a593ff057408c82f76474...,2025-09-23T13:30:00.000,2025-09-23T14:15:00.000,2594,2.08,8,32,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,41.892507781,-87.626214906,"{'type': 'Point', 'coordinates': [-87.62621490...",41.870607372,-87.622172937,"{'type': 'Point', 'coordinates': [-87.62217293...",17031081500,17031320600
11824,50a2004b90d99c79f36406f910dc601af79b20c2,5e48748b582fe3c16baf5ac371a27773e8aef2927f3344...,2025-09-23T13:00:00.000,2025-09-23T13:15:00.000,752,4.34,8,6,NaN,NaN,NaN,NaN,NaN,Cash,Sun Taxi,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",NaN,NaN
7635,efd2888ff21f61453cda91e521d15e172114a263,2407ff99e367ceb469a8cc6663e6ad6ec51fb0f401d370...,2025-09-23T16:00:00.000,2025-09-23T16:45:00.000,2310,11.13,76,13,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",41.983636307,-87.723583185,"{'type': 'Point', 'coordinates': [-87.72358318...",NaN,NaN

#### Transformation : deal with NaN values

In [19]:
taxi_trips.drop(["pickup_census_tract", "dropoff_census_tract"], axis=1, inplace=True)

In [20]:
taxi_trips.drop(["pickup_centroid_location", "dropoff_centroid_location"], axis=1, inplace=True)

In [22]:
taxi_trips.dropna(inplace=True)

In [23]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18534 entries, 0 to 20494
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     18534 non-null  object
 1   taxi_id                     18534 non-null  object
 2   trip_start_timestamp        18534 non-null  object
 3   trip_end_timestamp          18534 non-null  object
 4   trip_seconds                18534 non-null  object
 5   trip_miles                  18534 non-null  object
 6   pickup_community_area       18534 non-null  object
 7   dropoff_community_area      18534 non-null  object
 8   fare                        18534 non-null  object
 9   tips                        18534 non-null  object
 10  tolls                       18534 non-null  object
 11  extras                      18534 non-null  object
 12  trip_total                  18534 non-null  object
 13  payment_type                18534 non-null  object
 14  company                     18534 non-null  object
 15  pickup_centroid_latitude    18534 non-null  object
 16  pickup_centroid_longitude   18534 non-null  object
 17  dropoff_centroid_latitude   18534 non-null  object
 18  dropoff_centroid_longitude  18534 non-null  object
dtypes: object(19)
memory usage: 2.8+ MB

#### Transformation: renaming

In [24]:
taxi_trips.rename(columns={"pickup_community_area": "pickup_area_id",
                            "dropoff_community_area": "dropoff_area_id"}, inplace=True)

In [25]:
taxi_trips.columns

Index(['trip_id', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
       'trip_seconds', 'trip_miles', 'pickup_area_id', 'dropoff_area_id',
       'fare', 'tips', 'tolls', 'extras', 'trip_total', 'payment_type',
       'company', 'pickup_centroid_latitude', 'pickup_centroid_longitude',
       'dropoff_centroid_latitude', 'dropoff_centroid_longitude'],
      dtype='object')

#### Transformation: create helper column for weather data

In [26]:
taxi_trips['trip_start_timestamp'] = pd.to_datetime(taxi_trips['trip_start_timestamp'])

In [31]:
taxi_trips["datetime_for_weather"] = taxi_trips["trip_start_timestamp"].dt.floor("h")

In [32]:
taxi_trips["datetime_for_weather"].unique()

<DatetimeArray>
['2025-09-23 23:00:00', '2025-09-23 22:00:00', '2025-09-23 21:00:00',
 '2025-09-23 20:00:00', '2025-09-23 19:00:00', '2025-09-23 18:00:00',
 '2025-09-23 17:00:00', '2025-09-23 16:00:00', '2025-09-23 15:00:00',
 '2025-09-23 14:00:00', '2025-09-23 13:00:00', '2025-09-23 12:00:00',
 '2025-09-23 11:00:00', '2025-09-23 10:00:00', '2025-09-23 09:00:00',
 '2025-09-23 08:00:00', '2025-09-23 07:00:00', '2025-09-23 06:00:00',
 '2025-09-23 05:00:00', '2025-09-23 04:00:00', '2025-09-23 03:00:00',
 '2025-09-23 02:00:00', '2025-09-23 01:00:00', '2025-09-23 00:00:00']
Length: 24, dtype: datetime64[ns]

#### Check: join taxi and weather data

In [33]:
current_datetime = datetime.now() - relativedelta(months=2)
formatted_datetime = current_datetime.strftime("%Y-%m-%d")

formatted_datetime



url = "https://archive-api.open-meteo.com/v1/era5"

params = {
    "latitude": 41.85,
    "longitude": -87.65,
    "start_date": formatted_datetime,
    "end_date": formatted_datetime,
    "hourly":"temperature_2m,wind_speed_10m,rain,precipitation",
}

response = requests.get(url, params=params)
data = response.json()

weather_data = {
    "datetime":data["hourly"]["time"],
    "temperature":data["hourly"]["temperature_2m"],
    "wind_speed":data["hourly"]["wind_speed_10m"],
    "rain": data["hourly"]["rain"],
    "precipitation":data["hourly"]["precipitation"],
    }


weather_df = pd.DataFrame(weather_data)
weather_df["datetime"] = pd.to_datetime(weather_df["datetime"])

weather_df.head()

             datetime  temperature  wind_speed  rain  precipitation
0 2025-09-23 00:00:00         22.5         6.0   0.0            0.0
1 2025-09-23 01:00:00         20.4        13.8   0.4            0.4
2 2025-09-23 02:00:00         20.3        12.8   0.0            0.0
3 2025-09-23 03:00:00         20.1         9.9   0.0            0.0
4 2025-09-23 04:00:00         19.9        12.4   0.0            0.0

In [34]:
taxi_trips_with_weather = taxi_trips.merge(weather_df, 
                                          left_on="datetime_for_weather", right_on="datetime")

In [35]:
taxi_trips_with_weather.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,dropoff_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,2025-09-23 23:00:00,datetime_for_weather,datetime,temperature,wind_speed,rain,precipitation
0,93446c9c1098f23e505164659baba263728e620d,02ef8f01232b1b1828f4e5e1b8e8a85cd71b67c449afaf...,2025-09-23 23:45:00,2025-09-24T00:15:00.000,1134,11.6,69,8,30.75,0,0,0,30.75,Prcard,City Service,41.763246799,-87.616134111,41.899602111,-87.633308037,2025-09-23 23:00:00,2025-09-23 23:00:00,2025-09-23 23:00:00,20.2,12.2,0.0,0.0
1,928acc35835559e18bfd640170fc2632f18c1b10,6544c8051894de482dd3253d911c3e3d713b43beb93de2...,2025-09-23 23:45:00,2025-09-24T00:00:00.000,726,3.49,6,22,11.75,8,0,0,20.25,Credit Card,City Service,41.944226601,-87.655998182,41.92276062,-87.699155343,2025-09-23 23:00:00,2025-09-23 23:00:00,2025-09-23 23:00:00,20.2,12.2,0.0,0.0
2,8f6f96baf9284ac1acd4c2eee2f56dd8ac8d0e7d,f509c57d2f0b196f54d9b751ce2a1b6e956f378841b1e8...,2025-09-23 23:45:00,2025-09-23T23:45:00.000,4,0,32,32,25,2,0,0,27.5,Credit Card,City Service,41.878865584,-87.625192142,41.878865584,-87.625192142,2025-09-23 23:00:00,2025-09-23 23:00:00,2025-09-23 23:00:00,20.2,12.2,0.0,0.0
3,85a4e27c77425d5a8f6d0253585c98f083ddfec8,8d9a2218e0a2c8ae95ec61ac346b42b4e2fe21c484c89d...,2025-09-23 23:45:00,2025-09-24T00:00:00.000,610,9.16,49,35,24.25,0,0,0,24.25,Prcard,Globe Taxi,41.706587882,-87.623366512,41.835117986,-87.618677767,2025-09-23 23:00:00,2025-09-23 23:00:00,2025-09-23 23:00:00,20.2,12.2,0.0,0.0
4,84db5e3c929af11688df7216e13402a95bf838f6,b5e2695a2f44b9bce7a0a86148ac418802f0067be1f6d4...,2025-09-23 23:45:00,2025-09-23T23:45:00.000,10,0.08,76,76,3.25,0,0,0,3.25,Cash,Sun Taxi,41.97907082,-87.903039661,41.97907082,-87.903039661,2025-09-23 23:00:00,2025-09-23 23:00:00,2025-09-23 23:00:00,20.2,12.2,0.0,0.0

#### Transformation: data type conversions

In [36]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18534 entries, 0 to 20494
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     18534 non-null  object
 1   taxi_id                     18534 non-null  object
 2   trip_start_timestamp        18534 non-null  datetime64[ns]
 3   trip_end_timestamp          18534 non-null  object
 4   trip_seconds                18534 non-null  object
 5   trip_miles                  18534 non-null  object
 6   pickup_area_id              18534 non-null  object
 7   dropoff_area_id             18534 non-null  object
 8   fare                        18534 non-null  object
 9   tips                        18534 non-null  object
 10  tolls                       18534 non-null  object
 11  extras                      18534 non-null  object
 12  trip_total                  18534 non-null  object
 13  payment_type                18534 non-null  object
 14  company                     18534 non-null  object
 15  pickup_centroid_latitude    18534 non-null  object
 16  pickup_centroid_longitude   18534 non-null  object
 17  dropoff_centroid_latitude   18534 non-null  object
 18  dropoff_centroid_longitude  18534 non-null  object
 19  2025-09-23 23:00:00         18534 non-null  datetime64[ns]
 20  datetime_for_weather        18534 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(18)
memory usage: 3.6+ MB

In [37]:
taxi_trips_original = taxi_trips.copy()

In [39]:
data_types = {
    "trip_end_timestamp": "datetime64[ns]",
    "trip_seconds": "int32",
    "trip_miles": "float",
    "pickup_area_id": "int8",
    "dropoff_area_id": "int8",
    "fare": "float",
    "tips": "float",
    "tolls": "float",
    "extras": "float",
    "trip_total": "float",
    "pickup_centroid_latitude": "float",
    "pickup_centroid_longitude": "float",
    "dropoff_centroid_latitude": "float",
    "dropoff_centroid_longitude": "float",
}

taxi_trips = taxi_trips.astype(data_types)

In [40]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18534 entries, 0 to 20494
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     18534 non-null  object
 1   taxi_id                     18534 non-null  object
 2   trip_start_timestamp        18534 non-null  datetime64[ns]
 3   trip_end_timestamp          18534 non-null  datetime64[ns]
 4   trip_seconds                18534 non-null  int32
 5   trip_miles                  18534 non-null  float64
 6   pickup_area_id              18534 non-null  int8
 7   dropoff_area_id             18534 non-null  int8
 8   fare                        18534 non-null  float64
 9   tips                        18534 non-null  float64
 10  tolls                       18534 non-null  float64
 11  extras                      18534 non-null  float64
 12  trip_total                  18534 non-null  float64
 13  payment_type                18534 non-null  object
 14  company                     18534 non-null  object
 15  pickup_centroid_latitude    18534 non-null  float64
 16  pickup_centroid_longitude   18534 non-null  float64
 17  dropoff_centroid_latitude   18534 non-null  float64
 18  dropoff_centroid_longitude  18534 non-null  float64
 19  2025-09-23 23:00:00         18534 non-null  datetime64[ns]
 20  datetime_for_weather        18534 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(10), int32(1), int8(2), object(4)
memory usage: 3.3+ MB

In [41]:
taxi_trips.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,dropoff_area_id,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,2025-09-23 23:00:00,datetime_for_weather
count,18534,18534,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534.000000,18534,18534
mean,2025-09-23 13:56:20.123017216,2025-09-23 14:15:10.391712512,1127.800151,5.743967,31.508903,25.046563,19.915970,2.322522,0.006874,1.023348,23.535410,41.896487,-87.680767,41.889678,-87.651997,2025-09-23 23:00:00,2025-09-23 13:33:43.567497472
min,2025-09-23 00:00:00,2025-09-23 00:00:00,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.660136,-87.913625,41.660136,-87.913625,2025-09-23 23:00:00,2025-09-23 00:00:00
25%,2025-09-23 10:00:00,2025-09-23 10:15:00,466.000000,1.050000,8.000000,8.000000,7.750000,0.000000,0.000000,0.000000,9.500000,41.878866,-87.663518,41.878866,-87.655998,2025-09-23 23:00:00,2025-09-23 10:00:00
50%,2025-09-23 14:00:00,2025-09-23 14:15:00,829.000000,2.400000,28.000000,28.000000,12.500000,0.000000,0.000000,0.000000,14.500000,41.892508,-87.633308,41.890922,-87.633308,2025-09-23 23:00:00,2025-09-23 14:00:00
75%,2025-09-23 17:45:00,2025-09-23 18:00:00,1520.750000,10.400000,39.000000,32.000000,30.250000,3.000000,0.000000,0.000000,31.000000,41.944227,-87.625192,41.901207,-87.622173,2025-09-23 23:00:00,2025-09-23 17:00:00
max,2025-09-23 23:45:00,2025-09-24 12:45:00,84547.000000,70.780000,77.000000,77.000000,300.000000,50.000000,10.000000,147.000000,300.000000,42.015720,-87.534903,42.009623,-87.534903,2025-09-23 23:00:00,2025-09-23 23:00:00
std,NaN,NaN,1440.215841,6.282981,24.274508,19.290545,16.189619,3.758026,0.170563,3.670447,19.757208,0.061046,0.099468,0.054788,0.060921,NaN,NaN

##### Memory usage

In [42]:
orig_mem = taxi_trips_original.memory_usage(deep=True).sum() 
opt_mem = taxi_trips.memory_usage(deep=True).sum()

reduction = (orig_mem - opt_mem) / orig_mem * 100

print(f"Original: {orig_mem:,} bytes")
print(f"Optimized: {opt_mem:,} bytes")
print(f"Reduction: {reduction:.2f}%")

Original: 22,807,514 bytes
Optimized: 10,091,552 bytes
Reduction: 55.75%

#### Sanity Checks

In [46]:
taxi_trips[taxi_trips["trip_end_timestamp"] == taxi_trips["trip_end_timestamp"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,dropoff_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,2025-09-23 23:00:00,datetime_for_weather
270,9e2ce6400fb0cf8591c492a57ae2a19353ec7132,4ea76937237d234148f31343797e28d4616f50891cb565...,2025-09-23 23:00:00,2025-09-24 12:45:00,49275,7.56,33,35,20.25,0.0,0.0,0.0,20.25,Cash,Sun Taxi,41.857184,-87.620335,41.835118,-87.618678,2025-09-23 23:00:00,2025-09-23 23:00:00

In [47]:
taxi_trips[taxi_trips["trip_seconds"] == taxi_trips["trip_seconds"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,dropoff_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,2025-09-23 23:00:00,datetime_for_weather
18759,350133a345c2f0324e337b95a3001b8378c7ca80,67492f30cea5835460bdf432575c374bbccf9b6fc50ce5...,2025-09-23 07:45:00,2025-09-24 07:15:00,84547,1.56,6,12,7.5,0.0,0.0,0.0,7.5,Cash,Flash Cab,41.944227,-87.655998,41.99393,-87.758354,2025-09-23 23:00:00,2025-09-23 07:00:00

In [48]:
taxi_trips[taxi_trips["fare"] == taxi_trips["fare"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,dropoff_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude,2025-09-23 23:00:00,datetime_for_weather
12097,74c2ed5767857aabaf68b0f292451bdc6d075530,3fa4b1d2887a8aa4c0f95944c6a63f27785b52571d12e6...,2025-09-23 12:45:00,2025-09-23 12:45:00,579,0.0,8,8,300.0,0.0,0.0,0.0,300.0,Cash,Tac - Yellow Non Color,41.890922,-87.618868,41.890922,-87.618868,2025-09-23 23:00:00,2025-09-23 12:00:00