In [64]:
from datetime import datetime   
from dateutil.relativedelta import relativedelta

import pandas as pd
pd.set_option("display.max_columns", 30) 
import requests

In [65]:
current_datetime = datetime.now() - relativedelta(months=2)
formatted_datetime = current_datetime.strftime("%Y-%m-%d")

url = ( 
    f"https://data.cityofchicago.org/resource/ajtu-isnz.json?"
    f"$where=trip_start_timestamp >= '{formatted_datetime}T00:00:00' " 
    f"AND trip_start_timestamp <= '{formatted_datetime}T23:59:59'"
    f"&$limit=30000"
)
response = requests.get(url)
data = response.json()

len(data)  # Number of taxi trips on February 16, 2024

23065

In [66]:
taxi_trips = pd.DataFrame(data)
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,a7b269645dda4187ad38ec758f7d3b83bfe7454d,807f82595e67582251c7abcdde792543facfa879272732...,2025-09-24T23:45:00.000,2025-09-25T00:00:00.000,991,7.07,56,39.88,8.08,0,0,48.46,Mobile,Flash Cab,41.79259236,-87.769615453,"{'type': 'Point', 'coordinates': [-87.76961545...",NaN,NaN,NaN,NaN,NaN,NaN
1,a6aa9472a7b8cb41f53ea9c05e020f5912a1dd24,bf66d006c4634bdc6c98ee6d505187ed750e647a6b4d1c...,2025-09-24T23:45:00.000,2025-09-25T00:15:00.000,1418,14.47,53,36.25,0,0,0,36.25,Prcard,Flash Cab,41.673819904,-87.635739777,"{'type': 'Point', 'coordinates': [-87.63573977...",38,41.812948939,-87.617859676,"{'type': 'Point', 'coordinates': [-87.61785967...",NaN,NaN
2,a69e4c16f5104010c5ff18d48068912417ff357d,58c784c628cc2b0b77468e6a406acea729301abbc17a62...,2025-09-24T23:45:00.000,2025-09-24T23:45:00.000,291,1.11,6,6,0,0,1,7,Cash,Taxicab Insurance Agency Llc,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",6,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",NaN,NaN
3,9fbfafbe6ad36fca5e0f53d4932f91da162d1d7f,c60633c5d2053dd1c2076286b88196cf83f4fe0ecc1945...,2025-09-24T23:45:00.000,2025-09-25T00:00:00.000,652,7.91,38,21.25,0,0,0,21.25,Prcard,Chicago Independents,41.812948939,-87.617859676,"{'type': 'Point', 'coordinates': [-87.61785967...",40,41.792357223,-87.61793138,"{'type': 'Point', 'coordinates': [-87.61793138...",NaN,NaN
4,9d96540d0c469860f0eca786401c749d69e8d31e,4cf389626b3d1df35aef815a964571fd5ea7dddda01e56...,2025-09-24T23:45:00.000,2025-09-25T00:15:00.000,1299,9.62,6,21.82,4.56,0,0,26.88,Mobile,Flash Cab,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",28,41.874005383,-87.66351755,"{'type': 'Point', 'coordinates': [-87.66351754...",NaN,NaN

In [67]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23065 entries, 0 to 23064
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     23065 non-null  object
 1   taxi_id                     23065 non-null  object
 2   trip_start_timestamp        23065 non-null  object
 3   trip_end_timestamp          23065 non-null  object
 4   trip_seconds                23060 non-null  object
 5   trip_miles                  23064 non-null  object
 6   pickup_community_area       22351 non-null  object
 7   fare                        23028 non-null  object
 8   tips                        23028 non-null  object
 9   tolls                       23028 non-null  object
 10  extras                      23028 non-null  object
 11  trip_total                  23028 non-null  object
 12  payment_type                23065 non-null  object
 13  company                     23065 non-null  object
 14  pickup_centroid_latitude    22378 non-null  object
 15  pickup_centroid_longitude   22378 non-null  object
 16  pickup_centroid_location    22378 non-null  object
 17  dropoff_community_area      21154 non-null  object
 18  dropoff_centroid_latitude   21321 non-null  object
 19  dropoff_centroid_longitude  21321 non-null  object
 20  dropoff_centroid_location   21321 non-null  object
 21  pickup_census_tract         11444 non-null  object
 22  dropoff_census_tract        11185 non-null  object
dtypes: object(23)
memory usage: 4.0+ MB

In [68]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
count,23065,23065,23065,23065,23060,23064,22351,23028,23028,23028,23028,23028,23065,23065,22378,22378,22378,21154,21321,21321,21321,11444,11185
unique,23065,2532,96,109,3616,2385,77,2352,1087,27,197,3331,7,34,158,158,158,77,189,189,189,82,116
top,a7b269645dda4187ad38ec758f7d3b83bfe7454d,d59a55fcbd9ef11987cadd1a2dc93149edace06e23c37a...,2025-09-24T17:00:00.000,2025-09-24T09:00:00.000,0,0,8,8.5,0,0,0,3.25,Credit Card,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",8,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031980000,17031839100
freq,1,43,445,449,233,1672,5111,928,12710,22828,17121,308,8016,4536,2296,2296,2296,5591,1864,1864,1864,2296,1864

In [69]:
taxi_trips[taxi_trips["fare"].isna()].sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
21646,89280ddaa49a2862933f9eab2cad05ceaa71173d,df7451c41ae34d5df211c1e00487f0b91fbdd6d0e9e156...,2025-09-24T07:15:00.000,2025-09-24T07:15:00.000,NaN,0,76,NaN,NaN,NaN,NaN,NaN,Credit Card,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",76,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",17031980000,17031980000
5757,526bc30e8a54dced1281888996d9372af1e4ccb6,2407ff99e367ceb469a8cc6663e6ad6ec51fb0f401d370...,2025-09-24T18:00:00.000,2025-09-24T18:45:00.000,3414,14.05,76,NaN,NaN,NaN,NaN,NaN,Cash,Chicago Independents,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",6,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",NaN,NaN
1229,7d81133a201631f01b9cc480461b45497696d600,ff31006332ba8816d747b0d2e002d6aaf4187fd1f3728c...,2025-09-24T21:45:00.000,2025-09-24T21:45:00.000,4,0,32,NaN,NaN,NaN,NaN,NaN,Cash,5 Star Taxi,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031839100,17031839100
1556,05eedada15d9e530e235c06e8d07b5f80fe7eb83,d95b99518116b5f943d75828e78c02e668ec6add7d28ba...,2025-09-24T21:30:00.000,2025-09-24T21:30:00.000,NaN,0,3,NaN,NaN,NaN,NaN,NaN,Cash,Choice Taxi Association Inc,41.96581197,-87.655878786,"{'type': 'Point', 'coordinates': [-87.65587878...",3,41.96581197,-87.655878786,"{'type': 'Point', 'coordinates': [-87.65587878...",NaN,NaN
6910,892ed4f322e253f46a241551727c9e4b6289a9f5,dceced991ad06ec236c6f009fcf4aaeed3d5aaf38c45d2...,2025-09-24T17:15:00.000,2025-09-24T18:00:00.000,3158,6.41,32,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",6,41.949139771,-87.656803909,"{'type': 'Point', 'coordinates': [-87.65680390...",17031839100,17031061100

#### Transformation : deal with NaN values

In [70]:
taxi_trips.drop(["pickup_census_tract", "dropoff_census_tract"], axis=1, inplace=True)

In [71]:
taxi_trips.drop(["pickup_centroid_location", "dropoff_centroid_location"], axis=1, inplace=True)

In [72]:
taxi_trips.dropna(inplace=True)

In [73]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20866 entries, 1 to 23064
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20866 non-null  object
 1   taxi_id                     20866 non-null  object
 2   trip_start_timestamp        20866 non-null  object
 3   trip_end_timestamp          20866 non-null  object
 4   trip_seconds                20866 non-null  object
 5   trip_miles                  20866 non-null  object
 6   pickup_community_area       20866 non-null  object
 7   fare                        20866 non-null  object
 8   tips                        20866 non-null  object
 9   tolls                       20866 non-null  object
 10  extras                      20866 non-null  object
 11  trip_total                  20866 non-null  object
 12  payment_type                20866 non-null  object
 13  company                     20866 non-null  object
 14  pickup_centroid_latitude    20866 non-null  object
 15  pickup_centroid_longitude   20866 non-null  object
 16  dropoff_community_area      20866 non-null  object
 17  dropoff_centroid_latitude   20866 non-null  object
 18  dropoff_centroid_longitude  20866 non-null  object
dtypes: object(19)
memory usage: 3.2+ MB

#### Transformation: renaming

In [74]:
taxi_trips.rename(columns={"pickup_community_area": "pickup_area_id",
                            "dropoff_community_area": "dropoff_area_id"}, inplace=True)

In [75]:
taxi_trips.columns

Index(['trip_id', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
       'trip_seconds', 'trip_miles', 'pickup_area_id', 'fare', 'tips', 'tolls',
       'extras', 'trip_total', 'payment_type', 'company',
       'pickup_centroid_latitude', 'pickup_centroid_longitude',
       'dropoff_area_id', 'dropoff_centroid_latitude',
       'dropoff_centroid_longitude'],
      dtype='object')

#### Transformation: create helper columns for weather data dimensions

In [76]:
taxi_trips['trip_start_timestamp'] = pd.to_datetime(taxi_trips['trip_start_timestamp'])

In [77]:
taxi_trips["datetime_for_weather"] = taxi_trips["trip_start_timestamp"].dt.floor("h")

In [78]:
taxi_trips["datetime_for_weather"].unique()

<DatetimeArray>
['2025-09-24 23:00:00', '2025-09-24 22:00:00', '2025-09-24 21:00:00',
 '2025-09-24 20:00:00', '2025-09-24 19:00:00', '2025-09-24 18:00:00',
 '2025-09-24 17:00:00', '2025-09-24 16:00:00', '2025-09-24 15:00:00',
 '2025-09-24 14:00:00', '2025-09-24 13:00:00', '2025-09-24 12:00:00',
 '2025-09-24 11:00:00', '2025-09-24 10:00:00', '2025-09-24 09:00:00',
 '2025-09-24 08:00:00', '2025-09-24 07:00:00', '2025-09-24 06:00:00',
 '2025-09-24 05:00:00', '2025-09-24 04:00:00', '2025-09-24 03:00:00',
 '2025-09-24 02:00:00', '2025-09-24 01:00:00', '2025-09-24 00:00:00']
Length: 24, dtype: datetime64[ns]

In [79]:
taxi_trips['trip_start_date'] = pd.to_datetime(taxi_trips['trip_start_timestamp']).dt.date

In [80]:
taxi_trips['trip_start_date'].sample(5)

6812     2025-09-24
16002    2025-09-24
16993    2025-09-24
21291    2025-09-24
20252    2025-09-24
Name: trip_start_date, dtype: object

#### Check: join taxi and weather data

In [81]:
current_datetime = datetime.now() - relativedelta(months=2)
formatted_datetime = current_datetime.strftime("%Y-%m-%d")

formatted_datetime



url = "https://archive-api.open-meteo.com/v1/era5"

params = {
    "latitude": 41.85,
    "longitude": -87.65,
    "start_date": formatted_datetime,
    "end_date": formatted_datetime,
    "hourly":"temperature_2m,wind_speed_10m,rain,precipitation",
}

response = requests.get(url, params=params)
data = response.json()

weather_data = {
    "datetime":data["hourly"]["time"],
    "temperature":data["hourly"]["temperature_2m"],
    "wind_speed":data["hourly"]["wind_speed_10m"],
    "rain": data["hourly"]["rain"],
    "precipitation":data["hourly"]["precipitation"],
    }


weather_df = pd.DataFrame(weather_data)
weather_df["datetime"] = pd.to_datetime(weather_df["datetime"])

weather_df.head()

             datetime  temperature  wind_speed  rain  precipitation
0 2025-09-24 00:00:00         19.3        13.1   0.0            0.0
1 2025-09-24 01:00:00         18.8        12.6   0.0            0.0
2 2025-09-24 02:00:00         18.5        11.6   0.0            0.0
3 2025-09-24 03:00:00         18.4         9.8   0.0            0.0
4 2025-09-24 04:00:00         18.3         9.9   0.0            0.0

In [82]:
taxi_trips_with_weather = taxi_trips.merge(weather_df, 
                                          left_on="datetime_for_weather", right_on="datetime")

In [83]:
taxi_trips_with_weather.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date,datetime,temperature,wind_speed,rain,precipitation
0,a6aa9472a7b8cb41f53ea9c05e020f5912a1dd24,bf66d006c4634bdc6c98ee6d505187ed750e647a6b4d1c...,2025-09-24 23:45:00,2025-09-25T00:15:00.000,1418,14.47,53,36.25,0,0,0,36.25,Prcard,Flash Cab,41.673819904,-87.635739777,38,41.812948939,-87.617859676,2025-09-24 23:00:00,2025-09-24,2025-09-24 23:00:00,17.3,13.0,0.0,0.0
1,a69e4c16f5104010c5ff18d48068912417ff357d,58c784c628cc2b0b77468e6a406acea729301abbc17a62...,2025-09-24 23:45:00,2025-09-24T23:45:00.000,291,1.11,6,6,0,0,1,7,Cash,Taxicab Insurance Agency Llc,41.944226601,-87.655998182,6,41.944226601,-87.655998182,2025-09-24 23:00:00,2025-09-24,2025-09-24 23:00:00,17.3,13.0,0.0,0.0
2,9fbfafbe6ad36fca5e0f53d4932f91da162d1d7f,c60633c5d2053dd1c2076286b88196cf83f4fe0ecc1945...,2025-09-24 23:45:00,2025-09-25T00:00:00.000,652,7.91,38,21.25,0,0,0,21.25,Prcard,Chicago Independents,41.812948939,-87.617859676,40,41.792357223,-87.61793138,2025-09-24 23:00:00,2025-09-24,2025-09-24 23:00:00,17.3,13.0,0.0,0.0
3,9d96540d0c469860f0eca786401c749d69e8d31e,4cf389626b3d1df35aef815a964571fd5ea7dddda01e56...,2025-09-24 23:45:00,2025-09-25T00:15:00.000,1299,9.62,6,21.82,4.56,0,0,26.88,Mobile,Flash Cab,41.944226601,-87.655998182,28,41.874005383,-87.66351755,2025-09-24 23:00:00,2025-09-24,2025-09-24 23:00:00,17.3,13.0,0.0,0.0
4,9624cf5b1c4d8bbe67f7b064edc8ff8ae6188ff0,bb277fc77c865565c0fc305dcad0c6b6633e72ce0fcfac...,2025-09-24 23:45:00,2025-09-24T23:45:00.000,364,1.02,8,6,2,0,0,8.5,Credit Card,Taxicab Insurance Agency Llc,41.899602111,-87.633308037,8,41.899602111,-87.633308037,2025-09-24 23:00:00,2025-09-24,2025-09-24 23:00:00,17.3,13.0,0.0,0.0

#### Transformation: data type conversions

In [84]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20866 entries, 1 to 23064
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20866 non-null  object
 1   taxi_id                     20866 non-null  object
 2   trip_start_timestamp        20866 non-null  datetime64[ns]
 3   trip_end_timestamp          20866 non-null  object
 4   trip_seconds                20866 non-null  object
 5   trip_miles                  20866 non-null  object
 6   pickup_area_id              20866 non-null  object
 7   fare                        20866 non-null  object
 8   tips                        20866 non-null  object
 9   tolls                       20866 non-null  object
 10  extras                      20866 non-null  object
 11  trip_total                  20866 non-null  object
 12  payment_type                20866 non-null  object
 13  company                     20866 non-null  object
 14  pickup_centroid_latitude    20866 non-null  object
 15  pickup_centroid_longitude   20866 non-null  object
 16  dropoff_area_id             20866 non-null  object
 17  dropoff_centroid_latitude   20866 non-null  object
 18  dropoff_centroid_longitude  20866 non-null  object
 19  datetime_for_weather        20866 non-null  datetime64[ns]
 20  trip_start_date             20866 non-null  object
dtypes: datetime64[ns](2), object(19)
memory usage: 3.5+ MB

In [85]:
taxi_trips_original = taxi_trips.copy()

In [86]:
data_types = {
    "trip_end_timestamp": "datetime64[ns]",
    "trip_seconds": "int32",
    "trip_miles": "float",
    "pickup_area_id": "int8",
    "dropoff_area_id": "int8",
    "fare": "float",
    "tips": "float",
    "tolls": "float",
    "extras": "float",
    "trip_total": "float",
    "pickup_centroid_latitude": "float",
    "pickup_centroid_longitude": "float",
    "dropoff_centroid_latitude": "float",
    "dropoff_centroid_longitude": "float",
}

taxi_trips = taxi_trips.astype(data_types)

In [87]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20866 entries, 1 to 23064
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     20866 non-null  object
 1   taxi_id                     20866 non-null  object
 2   trip_start_timestamp        20866 non-null  datetime64[ns]
 3   trip_end_timestamp          20866 non-null  datetime64[ns]
 4   trip_seconds                20866 non-null  int32
 5   trip_miles                  20866 non-null  float64
 6   pickup_area_id              20866 non-null  int8
 7   fare                        20866 non-null  float64
 8   tips                        20866 non-null  float64
 9   tolls                       20866 non-null  float64
 10  extras                      20866 non-null  float64
 11  trip_total                  20866 non-null  float64
 12  payment_type                20866 non-null  object
 13  company                     20866 non-null  object
 14  pickup_centroid_latitude    20866 non-null  float64
 15  pickup_centroid_longitude   20866 non-null  float64
 16  dropoff_area_id             20866 non-null  int8
 17  dropoff_centroid_latitude   20866 non-null  float64
 18  dropoff_centroid_longitude  20866 non-null  float64
 19  datetime_for_weather        20866 non-null  datetime64[ns]
 20  trip_start_date             20866 non-null  object
dtypes: datetime64[ns](3), float64(10), int32(1), int8(2), object(5)
memory usage: 3.1+ MB

In [88]:
taxi_trips.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
count,20866,20866,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866.000000,20866
mean,2025-09-24 14:07:14.386082560,2025-09-24 14:26:33.741014272,1154.653503,5.767089,31.809930,20.166918,2.412625,0.009483,1.067127,23.942241,41.896138,-87.680805,25.785872,41.889645,-87.654717,2025-09-24 13:44:32.999137280
min,2025-09-24 00:00:00,2025-09-24 00:00:00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.660136,-87.913625,1.000000,41.660136,-87.913625,2025-09-24 00:00:00
25%,2025-09-24 10:00:00,2025-09-24 10:30:00,471.000000,1.050000,8.000000,8.000000,0.000000,0.000000,0.000000,9.502500,41.878866,-87.663518,8.000000,41.878866,-87.656306,2025-09-24 10:00:00
50%,2025-09-24 14:15:00,2025-09-24 14:45:00,837.000000,2.410000,30.000000,12.545000,0.000000,0.000000,0.000000,14.695000,41.892042,-87.633308,28.000000,41.890922,-87.633308,2025-09-24 14:00:00
75%,2025-09-24 17:45:00,2025-09-24 18:15:00,1583.000000,10.500000,39.000000,30.500000,3.000000,0.000000,0.000000,32.187500,41.938391,-87.625192,32.000000,41.901207,-87.622173,2025-09-24 17:00:00
max,2025-09-24 23:45:00,2025-09-25 14:45:00,78568.000000,45.200000,77.000000,200.100000,36.100000,28.000000,76.000000,200.100000,42.009623,-87.534903,77.000000,42.009623,-87.534903,2025-09-24 23:00:00
std,NaN,NaN,1400.256712,6.240454,24.120083,16.257553,3.748303,0.257652,3.750810,19.859577,0.060098,0.099893,19.748164,0.054792,0.065506,NaN

##### Memory usage

In [89]:
orig_mem = taxi_trips_original.memory_usage(deep=True).sum() 
opt_mem = taxi_trips.memory_usage(deep=True).sum()

reduction = (orig_mem - opt_mem) / orig_mem * 100

print(f"Original: {orig_mem:,} bytes")
print(f"Optimized: {opt_mem:,} bytes")
print(f"Reduction: {reduction:.2f}%")

Original: 25,751,177 bytes
Optimized: 11,432,308 bytes
Reduction: 55.60%

#### Sanity Checks

In [90]:
taxi_trips[taxi_trips["trip_end_timestamp"] == taxi_trips["trip_end_timestamp"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date
7170,f37f6100f6101dcfd13cbf5cd0862f723e3f330b,d9bddfd23bb025e41985beff92d5ad86895fe11f8680be...,2025-09-24 17:00:00,2025-09-25 14:45:00,78568,11.93,76,31.75,0.0,0.0,9.0,40.75,Cash,5 Star Taxi,41.980264,-87.913625,2,42.001571,-87.695013,2025-09-24 17:00:00,2025-09-24

In [91]:
taxi_trips[taxi_trips["trip_seconds"] == taxi_trips["trip_seconds"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date
7170,f37f6100f6101dcfd13cbf5cd0862f723e3f330b,d9bddfd23bb025e41985beff92d5ad86895fe11f8680be...,2025-09-24 17:00:00,2025-09-25 14:45:00,78568,11.93,76,31.75,0.0,0.0,9.0,40.75,Cash,5 Star Taxi,41.980264,-87.913625,2,42.001571,-87.695013,2025-09-24 17:00:00,2025-09-24

In [92]:
taxi_trips[taxi_trips["fare"] == taxi_trips["fare"].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date
1333,09baea89a0e3d2fa80e3a473f0bdca0c39a8fb7a,3618045f9110d4d88482266ade23659c1a50d32ac37f20...,2025-09-24 21:45:00,2025-09-24 22:00:00,1243,0.0,32,200.1,0.0,0.0,0.0,200.1,Cash,Tac - Yellow Cab Association,41.878866,-87.625192,22,41.922761,-87.699155,2025-09-24 21:00:00,2025-09-24

#### Creating dimension tables for Company and Payment Type

##### Payment Type dimension

In [93]:
dim_payment_type = taxi_trips["payment_type"].drop_duplicates().reset_index(drop=True)

dim_payment_type = pd.DataFrame(
    {
    "payment_type_id": range(1, len(dim_payment_type) + 1),
    "payment_type": dim_payment_type
    })

dim_payment_type

   payment_type_id payment_type
0                1       Prcard
1                2         Cash
2                3       Mobile
3                4  Credit Card
4                5      Unknown
5                6    No Charge
6                7      Dispute

##### Company dimension

In [94]:
dim_company = taxi_trips["company"].drop_duplicates().reset_index(drop=True)

dim_company = pd.DataFrame(
    {
    "company_id": range(1, len(dim_company) + 1),
    "company": dim_company
    })

dim_company

    company_id                               company
0            1                             Flash Cab
1            2          Taxicab Insurance Agency Llc
2            3                  Chicago Independents
3            4                           5 Star Taxi
4            5     Transit Administrative Center Inc
5            6                            Globe Taxi
6            7                          City Service
7            8                              Sun Taxi
8            9         Chicago City Taxi Association
9           10          Blue Ribbon Taxi Association
10          11            Tac - Checker Cab Dispatch
11          12                      Medallion Leasin
12          13           Choice Taxi Association Inc
13          14         312 Medallion Management Corp
14          15                           Wolley Taxi
15          16        Tac - American United Dispatch
16          17  Patriot Taxi Dba Peace Taxi Associat
17          18                       Chicago Taxicab
18          19          Tac - Yellow Cab Association
19          20                            Setare Inc
20          21                               Top Cab
21          22         Taxicab Insurance Agency  LLC
22          23          4053 - 40193 Adwar H. Nikola
23          24               2733 - 74600 Benny Jona
24          25        Star North Taxi Management Llc
25          26           6574 - Babylon Express Inc.
26          27           Tac - Blue Diamond Dispatch
27          28                 Koam Taxi Association
28          29           3556 - 36214 RC Andrews Cab
29          30                             U Taxicab
30          31                Tac - Yellow Non Color
31          32            5167 - 71969 5167 Taxi Inc
32          33                     Metro Jet Taxi A.

In [95]:
dim_company.tail()

    company_id                      company
28          29  3556 - 36214 RC Andrews Cab
29          30                    U Taxicab
30          31       Tac - Yellow Non Color
31          32   5167 - 71969 5167 Taxi Inc
32          33            Metro Jet Taxi A.

##### Merging back to the Fact table

In [96]:
fact_taxi_trips = taxi_trips.merge(dim_payment_type, on = "payment_type")
fact_taxi_trips = fact_taxi_trips.merge(dim_company, on = "company")

In [97]:
fact_taxi_trips.sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date,payment_type_id,company_id
3375,a8ec32b6035fdf319a1717487e5bb75632e7749f,f29ed34900f8b339ab279eda0189ecae3312801dab967e...,2025-09-24 19:15:00,2025-09-24 19:15:00,835,3.18,37,11.50,0.0,0.0,0.0,11.50,Prcard,Sun Taxi,41.809084,-87.632425,41,41.794090,-87.592311,2025-09-24 19:00:00,2025-09-24,1,8
9736,f9574cd971f6bf5ae9a735cc139e90083de291ab,4ddcdbfaa3447ef6507004a4c6005769aa300f06a0194c...,2025-09-24 14:45:00,2025-09-24 14:45:00,420,1.50,60,7.25,0.0,0.0,1.0,8.25,Unknown,Transit Administrative Center Inc,41.836150,-87.648788,59,41.829922,-87.672503,2025-09-24 14:00:00,2025-09-24,5,5
14587,a8834843fe2ef32685e3e98c571cb55e9dee1b8a,1884386375a1f401bce15b26abbc119b734e1548e47fa3...,2025-09-24 11:00:00,2025-09-24 11:30:00,1439,16.86,28,60.00,12.1,0.0,0.0,72.60,Credit Card,Taxicab Insurance Agency Llc,41.879255,-87.642649,76,41.979071,-87.903040,2025-09-24 11:00:00,2025-09-24,4,2
1300,2ac00a65d56baf3f042c59125b65e8eb36ab6fd7,d77e1fd49af50352f8edfea8dd8431dc6799973a4e213c...,2025-09-24 21:30:00,2025-09-24 21:30:00,311,0.46,8,5.25,3.0,0.0,1.0,9.75,Credit Card,5 Star Taxi,41.899602,-87.633308,8,41.899602,-87.633308,2025-09-24 21:00:00,2025-09-24,4,4
9130,9da35ccb7eaa8f4c2ab88b4790d46144448318d9,a79d72d3d49bed13558577cc0608caf7e8da5b9cee67b6...,2025-09-24 15:15:00,2025-09-24 16:00:00,2222,10.81,68,31.25,0.0,0.0,0.0,31.25,Prcard,Flash Cab,41.777196,-87.642498,23,41.900070,-87.720918,2025-09-24 15:00:00,2025-09-24,1,1

In [98]:
fact_taxi_trips.drop(["payment_type", "company"], axis=1, inplace=True)

In [99]:
fact_taxi_trips.sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_area_id,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,trip_start_date,payment_type_id,company_id
4827,fd165ec5f62f0a64eed0f1bd83ab694fc89a4649,1061d157b2a98a1b1e7871639b836de5fb521101d08d73...,2025-09-24 18:00:00,2025-09-24 18:45:00,2540,4.39,32,21.00,0.0,0.0,0.0,21.50,41.878866,-87.625192,6,41.944227,-87.655998,2025-09-24 18:00:00,2025-09-24,4,1
17727,116f6d32ba160e56b1c367765ac2cf10611ec41d,6bc9a4b2f488c8531e48dd2a8c10459515b486fc16d78a...,2025-09-24 08:45:00,2025-09-24 09:00:00,659,1.91,8,10.58,0.0,0.0,0.0,11.08,41.899602,-87.633308,32,41.878866,-87.625192,2025-09-24 08:00:00,2025-09-24,3,1
19061,3e69a534d875b6eb74b2865f113b4913b27d92bb,2dcc9bbf2034d52dc606241500dacecd8bfe62de181450...,2025-09-24 07:45:00,2025-09-24 08:30:00,2029,5.47,24,21.82,0.0,0.0,0.0,22.32,41.901207,-87.676356,32,41.878866,-87.625192,2025-09-24 07:00:00,2025-09-24,3,7
10189,4fb1c12409405cf2ee87adc002ee4dee824708f8,4c658dc5e7ea935f4c3bb9a3071f509efac3e99c93f6a6...,2025-09-24 14:30:00,2025-09-24 14:45:00,1029,2.68,32,16.73,0.0,0.0,0.0,17.23,41.878866,-87.625192,28,41.874005,-87.663518,2025-09-24 14:00:00,2025-09-24,3,1
309,6118930f870a3ff26ee2e3d31d0e55c52bbfa928,f509c57d2f0b196f54d9b751ce2a1b6e956f378841b1e8...,2025-09-24 23:00:00,2025-09-24 23:15:00,1299,12.69,28,33.50,0.0,0.0,0.0,33.50,41.874005,-87.663518,77,41.986712,-87.663416,2025-09-24 23:00:00,2025-09-24,1,7

In [100]:
dim_payment_type.to_csv("dim_payment_type.csv", index=False)
dim_company.to_csv("dim_company.csv", index=False)

##### Create update logic ford Dimension tables

In [124]:
dummy_payment_type_data = [
    {"payment_type": "Credit Card"},
    {"payment_type": "X"},
    {"payment_type": "Y"},
    {"payment_type": "X"},
]

dummy_payment_type_data_df = pd.DataFrame(dummy_payment_type_data)


todays_payment_types = pd.DataFrame(dummy_payment_type_data_df["payment_type"].unique(), columns=["payment_type"])
new_payment_types = todays_payment_types[~todays_payment_types["payment_type"].isin(dim_payment_type["payment_type"])]

if not new_payment_types.empty:
    
    max_id = dim_payment_type["payment_type_id"].max() 
    new_payment_types["payment_type_id"] = range(max_id + 1, max_id + 1 + len(new_payment_types))
    dim_payment_type = pd.concat([dim_payment_type, new_payment_types], ignore_index=True)
    
dim_payment_type

   payment_type_id payment_type
0                1       Prcard
1                2         Cash
2                3       Mobile
3                4  Credit Card
4                5      Unknown
5                6    No Charge
6                7      Dispute
7                8            X
8                9            Y
9               10            Z

In [135]:
#Testing the logic with different data

dummy_payment_type_data = [
    {"payment_type": "Credit Card"},
    {"payment_type": "X"},
    {"payment_type": "Z"},
    {"payment_type": "Z"},
]

dummy_payment_type_data_df = pd.DataFrame(dummy_payment_type_data)

todays_payment_types = pd.DataFrame(dummy_payment_type_data_df["payment_type"].unique(), columns=["payment_type"])
new_payment_types = todays_payment_types[~todays_payment_types["payment_type"].isin(dim_payment_type["payment_type"])]

if not new_payment_types.empty:
    
    max_id = dim_payment_type["payment_type_id"].max() 
    new_payment_types["payment_type_id"] = range(max_id + 1, max_id + 1 + len(new_payment_types))
    dim_payment_type = pd.concat([dim_payment_type, new_payment_types], ignore_index=True)
    
dim_payment_type

   payment_type_id payment_type
0                1       Prcard
1                2         Cash
2                3       Mobile
3                4  Credit Card
4                5      Unknown
5                6    No Charge
6                7      Dispute
7                8            X
8                9            Y
9               10            Z

In [136]:
dim_company.tail()

    company_id                      company
28          29  3556 - 36214 RC Andrews Cab
29          30                    U Taxicab
30          31       Tac - Yellow Non Color
31          32   5167 - 71969 5167 Taxi Inc
32          33            Metro Jet Taxi A.

In [138]:
dim_company = taxi_trips["company"].drop_duplicates().reset_index(drop=True)

dim_company = pd.DataFrame(
    {
    "company_id": range(1, len(dim_company) + 1),
    "company": dim_company
    })

dummy_company_data = [
    {"company": "Metro Jet Taxi A."},
    {"company": "X"},
    {"company": "Z"},
    {"company": "Z"},
]

dummy_company_data_df = pd.DataFrame(dummy_company_data)

todays_companies = pd.DataFrame(dummy_company_data_df["company"].unique(), columns=["company"])
new_companies = todays_companies[~todays_companies["company"].isin(dim_company["company"])]

if not new_companies.empty:
    
    max_id = dim_company["company_id"].max() 
    new_companies["company_id"] = range(max_id + 1, max_id + 1 + len(new_companies))
    dim_company = pd.concat([dim_company, new_companies], ignore_index=True)
    
dim_company.tail()

C:\Users\tothj\AppData\Local\Temp\ipykernel_5316\3474758126.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_companies["company_id"] = range(max_id + 1, max_id + 1 + len(new_companies))

    company_id                     company
30          31      Tac - Yellow Non Color
31          32  5167 - 71969 5167 Taxi Inc
32          33           Metro Jet Taxi A.
33          34                           X
34          35                           Z